.WrapBox {
    width: 100%;
    max-width: 750px;
    padding-bottom: 160px;
    margin: 0 auto;
    background-color: rgb(12,23,40);
    background: linear-gradient(0deg,rgba(12,23,40,1) 0%, rgba(2,9,16,1) 100%);
    background-image: url(../images/bg.png);
    img {
        margin: 10px 0;
        width: 100%;
        max-width: 750px;
        height: auto;
    }
}

.WB_inner01 {
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    position: relative;
    .banner {
        position: relative;
        max-width: 640px;
        width: 100%;
		height: 385px;
        margin: 0 auto;
        img {
            position: absolute;
            vertical-align: middle;
        }
        .Banner-inner {
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .B_01 {//小
            width: 100px;
            left: 0;
            z-index: 1;
        }
        .B_02 {//中
            width: 160px;
            left: 70px;
            z-index: 2;
        }
        .B_03 { //大
            width: 200px;
            left: 210px;
            z-index: 3;
        }
        .B_04 {//中
            width: 160px;
            left: 380px;
            z-index: 2;
        }
        .B_05 {//小
            width: 100px;
            left: 540px;
            z-index: 1;
        }
	}
}
.WB_inner03 {
    position: relative;
    .CoinBox {
        margin: -35px 0 0;
        position: relative;
    }
}
.WB_inner04 {
    margin-top: 30px;
    position: relative;
    .hotgame-inner {
        width: 90%;
        height: auto;
        border: 4px solid #f0db9e;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 20px;
        img {
            margin: 0;
        }
    }
}
.WB_inner05 { 
    margin-top: 50px;
}

.Box_Title {
    margin: 20px 0;
}

.FooterBox {
    position: relative;
    z-index: 2;
    .FooterBox-inner {
        bottom: 0;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        background-repeat: no-repeat;
        position: fixed;
    }
}

.ServiceBox {
    position: relative;
    .ServiceImg {
        width: 100px;
        position: fixed;
        z-index: 9999;
        bottom: 25%;
        right: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .WB_inner01 {
        padding: 50/750*100vw 0;
        .banner {
            max-width: 640/750*100vw;
            height: 385/750*100vw;
            .B_01 {//小
                width: 100/750*100vw;
            }
            .B_02 {//中
                width: 160/750*100vw;
                left: 70/750*100vw;
            }
            .B_03 { //大
                width: 200/750*100vw;
                left: 210/750*100vw;
            }
            .B_04 {//中
                width: 160/750*100vw;
                left: 380/750*100vw;
            }
            .B_05 {//小
                width: 100/750*100vw;
                left: 540/750*100vw;
            }
        }
    }
    .ServiceBox {
        position: relative;
        .ServiceImg {
            width: 50px;
            position: fixed;
            z-index: 9999;
            bottom: 8%;
            right: 20px;
        }
    }
}


@media only screen and (max-width: 425px) {
    .WrapBox {
        padding-bottom: 100/425*100vw;
    }
}